.authForm {
  display: flex;
  flex-flow: row nowrap;
  width: 32rem;
  &>fieldSet {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    gap: 2rem;
    border: 0;
    >button {
      padding: 1rem 0;
      cursor: pointer;
    }
  }
}

.flexWrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  >label {
    padding: 1rem;
    width: 8rem;
  }
  >input {
    flex: 1 1 auto;
    text-indent: 1rem;
  }
}
