.todoContainer {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  position: relative;
  gap: 4rem;
}

.todoAddForm {
}

.todoList {
  background: green;
  width: 32rem;
}

.isLoading, .error {
  padding: 1rem 0;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  text-align: center;
}

