.todoContainer {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  position: relative;
  gap: 4rem;
}

.isLoading, .error {
  position: absolute;
  top: 5rem;
  text-align: center;
}

